*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} 

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #87cefa;
  margin: 0px;
  padding: 0px;
  line-height: 1.6; 
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
section {
  width: 100%;
  height: 100vh;
  background-image: url("PowerPrep/ThirdTask/images/tolu4.png");
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0px 5%;
}

nav ul {
  display: flex;
}

nav ul li a {
  margin: 30px;
  font-family: sans-serif;
  color: #505050;
  font-size: 15px;
  font-weight: 800;
}
.logo {
  font-family: cursive;
  color: #000000;
  font-size: 22px;
}
.active {
  font-weight: bold;
  color: #2d2a2a;
}
.text-container p:nth-child(1) {
  font-family: Calibri;
  font-weight: bold;
  color: #000080;
  font-size: 30px;
}
.text-container p:nth-child(2) {
  font-family: Segoe UI;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
  font-size: 60px;
}
.text-container p:nth-child(3) {
  font-family: Helvetica, sans-serif;
  color: #403e3e;
  font-size: 30px;
  line-height: 30px;
}
.text-container p {
  line-height: 0px;
  margin: 45px 0px 25px;
}
.text-container {
  position: absolute;
  left: 13%;
  top: 42%;
  transform: translate (-13%, -42%);
}
.hire-button {
  display: inline-block;
  background: #ededed;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 1rem 2rem;
  border: 2px solid #000; 
  color: rgba(0,0,0, .7);
  transition: all .2s;
}
.hire-button:hover {
  border: 2px solid #373636;
  color: white;
  background: #87cefa; 
}
.picture {
  height: 600px;
  position: absolute;
  bottom: 0px;
  left: 45%;
  transform: translateX (-70%);
}
.about-container {
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.8);
  display: flex;
  margin: -7% auto 0% auto;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.5rem;
}
.about-container img {
  height: 300px;
}
.about-text {
  padding: 1.5rem;
}
.about-text p:nth-child(1) {
  color: #403e3e;
  font-family: serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 0px;
}
.about-text p:nth-child(2) {
  color: #3e3d3d;
  font-size: 15px;
  font-family: serif;
  font-weight: bold;
  line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4),
.about-text p:nth-child(5),
.about-text p:nth-child(6),
.about-text p:nth-child(7),
.about-text p:nth-child(8) {
  color: #7e7d7d;
  font-family: Calibri;
  font-size: 16px;
}
.about-text button {
  width: 120px;
  height: 40px;
  color: #ffffff;
  outline: none;
  border: none;
  font-family: Calibri;
  background-color: #262525;
}
.services {
  background-color: #ffffff;
}
.services-text p:nth-child(1) {
  font-family: calibri;
  font-weight: bold;
  color: #3e3d3d;
  font-size: 30px;
  line-height: 0px;
}
.services-text p:nth-child(2) {
  font-family: calibri;
  font-weight: bold;
  color: #3e3e3d;
  font-size: 15px;
  /* line-height: 5px; */
}
.services-text p:nth-child(3),
.services-text p:nth-child(4) {
  font-family: calibri;
  color: #063c99;
}
.services-text {
  margin: 0px 150px;
  padding: 1rem;
}
.box-1,
.box-2,
.box-3 {
  width: 200px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
.box-container {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}
.box-1 {
  background-image: url(images/html.png);
}
.box-2 {
  background-image: url(images/css3-logo-png-transparent.png);
}
.box-3 {
  background-image: url(images/Javascript-shield.png);
}
.form-container {
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
  margin: 1rem auto;
  padding: 1.5rem;
  width: 60%;
}
#form {
  margin-top: 2rem;
  color: #4a5568;
  font-family: sans-serif;
}
.header {
  text-align: center;
  padding: 0px 0px 20px 0px;
}
.header h1 {
  font-family: aerial;
  font-size: 1.2rem;
  color: #083e9e;
  font-weight: 700;
  margin: 0px 0px -10px 0px;
}
.header p {
  color: #48556a;
  font-size: 1rem;
  font-family: karla;
  display: block;
  margin-block-start: 1.5rem;
  scroll-margin-block-end: 1.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.form {
  margin: auto;
  width: 100%;
}
form div label {
  font-size: 12px;
  font-weight: bold;
}
form div input,
select {
  width: 90%;
  background-color: #ededed;
  border-radius: 5px;
  padding: 20px;
  font-size: 15px;
  margin: 5px 0 30px 0;
  outline: none;
  border-color: transparent;
  cursor: default;
}
.message {
  width: 90%;
  margin: 0.2rem auto;
}
textarea {
  width: 100%;
  margin: 0.5rem auto;
}
#submit {
  width: 90%;
  background-color: #063c99;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  border-radius: 10px 10px 10px 0px;
  outline: none;
  border-color: transparent;
  padding: 20px;
}
.submit-btn {
  cursor: pointer;
  width: 18%;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
}
.contact-me {
  width: 60%;
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);
  margin: 0% auto 0% auto;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  align-items: center;
}
.contact-me h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: calibril;
  justify-self: center;
  align-items: center;
  text-align: center;
}
.contact-me p {
  color: #ffffff;
  font-size: 20px;
  font-family: calibril;
  font-weight: bold;
  text-align: center;
}
footer {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
footer p {
  font-family: calibri;
}
footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  color: #191919;
  line-height: 10px;
}
footer p:nth-child(2) {
  font-size: 16px;
  color: #7e7d7d;
  width: 600px;
  text-align: center;
}
.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}
.social-icons {
  display: flex;
}
.copyright {
  color: #565555;
  font-size: 15px;
  position: absolute;
  left: 46%;
  bottom: 20px;
  transform: translateX (-50%);
}
.social-icons i {
  color: #000000;
}
.social-icons a:hover,
.a-social-b a:hover {
  background-color: #000000;
  box-shadow: 2px 2px 12px rgba (0, 0, 0, 0.2);
  transition: all ease 0.5s;
}
.social-icons a:hover i,
.a-social-b a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}
.a-social-b {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateX (-50%);
}
.a-social-b a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 0px;
  height: 40px;
  margin: 0px;
  line-height: 0px;
  background-color: #ffffff;
  border: 1px solid #cbcbcb;
  box-shadow: 2px 2px 12px rgba (0, 0, 0, 0.4);
}
.a-social-b i {
  color: #2b2b2b;
  font-size: 20px;
}
