body{
    background-color: #87ceeb;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    background-image: url("PowerPrep/ThirdTask/images/tolu4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: cursive;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1) {
    font-family: Calibri;
    font-weight: bold;
    color: #000080;
    font-size: 30px;
}
.text-container p:nth-child(2) {
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    font-size: 60px;
}
.text-container p:nth-child(3) {
    font-family: Helvetica, sans-serif;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p {
    line-height: 0px;
    margin: 45px 0px 25px;
}
.text-container {
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate (-13%, -42%);
}
.text-container button{
    width: 150px;
    height: 42px;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px;
}
.hire-button: :hover{
    border: 2px solid #373636;
    color: #373636;
    transition-duration: 1.5s;
}
.picture{
    height: 550px;
    position: absolute;
    bottom: 0px;
    left: 45%;
    transform: translateX (-70%);
}
.About-Container{
    width: 80%;
    height: 330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.);
    display: flex;
    margin: -7% auto 20% auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.About-Container img{
    height: 275px;
}
.About-text{
    width: 900px;
}
.About-text p:nth-child(1) {
    color: #403e3e;
    font-family: serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}
.About-text p:nth-child(2) {
    color: #3e3d3d;
    font-size: 15px;
    font-family: serif;
    font-weight: bold;
    line-height: 5px;
}
.About-text p:nth-child(3),
.About-text p:nth-child(4),
.About-text p:nth-child(5),
.About-text p:nth-child(6),
.About-text p:nth-child(7),
.About-text p:nth-child(8) {
    color: #7e7d7d;
    font-family: Calibri;
    font-size: 16px;
}
.About-text button {
    width: 120px;
    height: 40px;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: Calibri;
    background-color: #262525;
}
.services{
    background-color: #ffffff;
}
.services-text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}
.services-text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color: #3e3e3d;
    font-size: 15px;
    line-height: 5px;
}
.services-text p:nth-child(3) {
    font-family: calibri;
    color: #7e7d7d;
}
.services-text{
    width: 500px;
    margin: 0px 150px;
    padding: 0px 10px 0% 10px;
}


